<ion-header
  collapse="condense"
  class="header"
>
  <div class="upper-header-container">
    <ion-avatar>
      <img src="../../assets//avatar.png">
    </ion-avatar>
    <div class="icon-container">
      <ion-button
        fill="clear"
        color="light"
      >
        <ion-icon
          slot="icon-only"
          name="log-out-outline"
        >
        </ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="lower-header-container">
    <span>Lvl 1</span>
    <ion-progress-bar
      value="0.5"
      class="progress-bar"
    >
    </ion-progress-bar>
    <span>Lvl 2</span>
  </div>
</ion-header>