<ion-content
  [fullscreen]="true"
>
  <ion-header
    collapse="condense"
  >
    <ion-avatar>
      <img src="../../assets//avatar.png">
    </ion-avatar>
  </ion-header>
  <ion-searchbar
    (ionInput)="onChange($event)"
    animated
  >
  </ion-searchbar>
  <div
    class="no-match"
    *ngIf="filteredActions && !filteredActions.length">
    <ion-icon size="large" name="sad-outline"></ion-icon>
    <h3>No match. Try again!</h3>
  </div>
  <ion-list
    *ngFor="let action of filteredActions">
      <app-action [action]="action"></app-action>
  </ion-list>
</ion-content>