<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-input formControlName="username" type="text" placeholder="Enter Username"></ion-input>
    <ion-input formControlName="email" type="text" placeholder="Enter Email"></ion-input>
    <ion-input formControlName="password" type="password" placeholder="Enter Password"></ion-input>
    <ion-button type="submit">Sign Up</ion-button>
  </form>
</ion-content>
